rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function getEmployees(shopId){
    	return shopId != null
      	? get(/databases/$(database)/documents/shops/$(shopId)).data.employeeIds
      	: [];
    }

    function getUser(){
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isEmployee(){
      return getUser().isEmployee;
    }
    
    function isAdmin(){
      return getUser().isAdmin;
    }

    function isOwnerOfShop(){
      return getUser().isShopOwner;
    }

    // Function to check if a string is alphanumeric, allowing characters from various languages and spaces as well as commas, dots, hyphens
    function isSafeAlphanumeric(value) {
      return value is string && value.matches('^[\\p{L}\\p{N}\\s.,-]+$');
    }

    function isSetAlready(key){
      return resource != null && resource.data.keys() != null && key in resource.data.keys();
    }

    // for attributes that can not be overridden once set
    function canBeSet(key){
      return !isSetAlready(key);
    }

    // function goingToBeSet(key){
    //   return key in request.resource.data.keys();
    // }

    match /shops/{id} {
      function isShopOwner(){
        return request.auth.uid == resource.data.ownerId;
      }

      allow get, update: if isShopOwner();
      allow read, write: if isAdmin();
    }
    
    match /logs/{id} {
      allow read, write: if isAdmin();
    }

    match /transactions/{id} {
    	// user can read their own transactions and a valid employee can also read a users transactions
      allow read: if resource.data.userId == request.auth.uid || isEmployee()

      allow create: if request.auth.uid in getEmployees(getUser().shopId);
    }

    match /users/{id} {
      function isDocumentOwner(){
        return id == request.auth.uid || request.resource.id == request.auth.uid;
      }

      function canUserBeCreated(){
        return request.auth != null && !exists(/databases/$(database)/documents/users/$(request.auth.uid));
      }

      function validateFields() {
          let user = getUser();
          let isDocumentOwner = isDocumentOwner();
           
          let data = request.resource.data;
          let keys = request.resource.data.keys();

          // Return true if all validations pass
          return (
              (!('birth' in keys) || (isDocumentOwner && canBeSet('birth') && data.birth is int)) &&
              (!('joined' in keys)|| (isDocumentOwner && canBeSet('joined') && data.joined is int)) &&
              (!('name' in keys) || (isDocumentOwner && canBeSet('name') && isSafeAlphanumeric(data.name))) &&
              (!('value' in keys) || 
                  ((isDocumentOwner && canBeSet('value') && data.value is int && data.value == 0) ||
                  (user.isEmployee && data.value is int && data.value >= 0))) &&
              (!('shopId' in keys) || 
                  ((user.isShopOwner || user.isAdmin) && isSafeAlphanumeric(data.shopId))) &&
              (!('shopName' in keys) || 
                  ((user.isShopOwner || user.isAdmin) && isSafeAlphanumeric(data.shopName))) &&
              (!('isEmployee' in keys) || 
                  ((user.isShopOwner || user.isAdmin) && data.isEmployee is bool)) &&
              (!('isShopOwner' in keys) || (user.isAdmin && data.isShopOwner is bool)) &&
              (!('isAdmin' in keys) || (user.isAdmin && data.isAdmin is bool))
          );
      }

      allow get: if resource != null && (isDocumentOwner() || isEmployee())
			allow read: if isAdmin();
      allow create: if canUserBeCreated() && isDocumentOwner() && validateFields();
      allow delete: if isDocumentOwner();
      allow update: if resource != null && (isDocumentOwner() || isEmployee()) && validateFields();
    }
  }
}